DB_HOST=database
DB_PORT=5432
DB_USER=user
DB_PASS=password
DB_NAME=database name
APP_NAME=ML Service
DEBUG=False
API_VERSION=1.0
APP_DESCRIPTION=API for managing tasks and users
SECRET_KEY=ABC
ALGORITHM=ABC
ACCESS_TOKEN_EXPIRE_MINUTES=60
RABBITMQ_USER=user_mq
RABBITMQ_PASS=password_mq
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672